body {
  text-align: center;
  font-family: 'poppins';
  background-color: #9DBDC6;
}

.message-list {
  background-color: #FFFFFF;
  padding: 20px;
}
.imgpoll{ 
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: center;
  margin: 10px
}

h1 {
  color: #17202A;
}
.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #17202A;
  border-radius: 25px;
  color: #17202A;
  
  display: flex; /* or inline-flex */
  flex-direction: column;
}

img{
width: 400px;
justify-content: center;
margin-right: 150px;
}

/*Header*/
header{
  background: #DAEAEF;
  padding-top: 2px;
  padding-bottom: 15px;
  min-height: 55px;
  border-bottom: 2px #17202A solid;
}
header a{
  color: #17202A ;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}
header a:hover{
  color: #17202A ;
  font-weight: bold;
  font-size: 22px;
}
header ul {
  text-align: right;
  padding: 0;
}
header li {
  display: inline;
  padding: 0 15px 0 15px;
}
header nav{
  float: center;
  margin: 10px auto 5px;
  width: 100%;
}

.time {
  color: #17202A;
}

.postId {
  display: none;
}

.hidden {display: none}

.answerButton {
  color:#FF3D2E;
  font-weight: italic;
  font-size: 15px;

}
.answerButton:hover {
  color: #FF3D2E;
  font-weight: bold;
  font-size: 22px;
}

.answerStat {
  height: 30px;
  background: #DAEAEF;
  border-radius: 5px;
}

input {
  border: 1px solid orange;
  display: block;
  background-color: white;
  color: black;
  margin:20px 
}

button {
  display: block;
 color: blue;
 background-color: white;
 border: 1px solid black;
 font-size: 20px;
}

.unanswered .answerStat {
  display: none;
}

.answered .answerButton {
  display: none;
}